src/main/app/mulevariables.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="mulevariablesFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/mulevariables" doc:name="HTTP"/>
		<set-variable variableName="src" value="#[json:source]" doc:name="SrcValuetoVariable"/>
		<set-variable variableName="DEST" value="#[json:dest]" doc:name="destValueAssignToVariable"/>
		<set-variable variableName="DOJ" value="#[json:doj]" doc:name="destValueAssignToVariable"/>
		<set-payload value="#[flowVars.src]

#[flowVars.DEST]

#[flowVars.DOJ]


" doc:name="Set Payload"/>
	</flow>
	<flow name="mulevariablesFlow1">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/mulesessionvariables" doc:name="HTTP"/>
		<set-session-variable variableName="src" value="#[message.inboundProperties.'http.query.params'.source]" doc:name="Session Variable"/>
		<set-session-variable variableName="DEST" value="#[message.inboundProperties.'http.query.params'.dest]" doc:name="Session Variable"/>
		<set-session-variable variableName="DOJ" value="#[message.inboundProperties.'http.query.params'.doj]" doc:name="Session Variable"/>
		<set-payload value="#[sessionVars.src]

#[sessionVars.DEST]

#[sessionVars.DOJ]

" doc:name="Set Payload"/>
	</flow>
</mule>
